<form *ngIf="currentContainer.outerList" [formGroup]="formGroupOuter">
  <div formArrayName="outerList">
    <div [formGroupName]="i" *ngFor="let outerObject of currentContainer.outerList, let i = index">

      <h2>Outer Object</h2>

      <div>

        <div>
          <label
            for="outerObjectID{{i}}">
            Outer Object {{i}} ID
          </label>

          <input
            id="outerObjectID{{i}}"
            name="outerObjectID{{i}}"
            class="form-control"
            formControlName="outerObjectID"
            type="text"
          />

          <label
            for="optionalNumericalField{{i}}">
            Optional Numerical Field {{i}}
          </label>

          <input
            id="optionalNumericalField{{i}}"
            name="optionalNumericalField{{i}}"
            class="form-control"
            formControlName="optionalNumericalField"
            type="text"
          />
        </div>

      </div>

      <h3>Inner Objects</h3>

      <div formArrayName="innerList">

        <ng-container [formGroupName]="j" *ngFor="let innerObject of outerObject.innerList, let j=index">

          <div>

            <label
              for="innerObjectID{{i}}{{j}}">
              Inner Object {{i}}-{{j}} ID
            </label>

            <input
              id="innerObjectID{{i}}{{j}}"
              name="innerObjectID{{i}}{{j}}"
              class="form-control"
              formControlName="innerObjectID"
              type="text"
            />
          </div>

        </ng-container>

      </div>

    </div>
  </div>
  <pre> {{ this.formGroupOuter.value | json }} </pre>

</form>
